<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <div th:include="/config::script"></div>
</head>
<body>
<div th:include="/config::header"></div>
<div class="login-form" style="text-align: center;">
    <form action="/login" method="post">
        <h2 class="text-center">Login</h2>
        <div class="form-group  w-25 p-3" style="margin: auto;">
            <input type="text" class="form-control" placeholder="Username" required="required" name="login" pattern="^[а-яА-ЯёЁa-zA-Z0-9\s{0,1}]+$"/>
        </div>
        <div class="form-group  w-25 p-3" style="margin: auto;">
            <input type="password" class="form-control" placeholder="Password" required="required" name="password" pattern="^[a-zA-Z0-9]+$"/>
        </div>
        <label for="remember-me">
            <input type="checkbox" id="remember-me" name="remember-me">Запомнить меня</label>
        <div class="form-group w-25 p-3" style="margin: auto;">
            <button type="submit" class="btn btn-light">LogIn</button>
        </div>
    </form>
    <!--<p th:if="${error!=null}" style="color : red;">-->
        <!--Wrong username or password-->
    <!--</p>-->
</div>
<a href="/signup">signUp</a>

</body>
</html>
